:root {

  --primary: lightgreen;

}

body {
  background-color: var(--primary);
}
.navbar-brand img {
  padding-right: 15px;
  width: 75px;
}
.navbar-nav {
  margin-left: auto;
  /* margin-right: 0 !important; */
}

.jumbo {
    width: 90% !important;
    border: 10px !important;
  }

  .row {
    width: 95%;
    border-bottom: 40px;
  }
/* 
.card1 {
  width: 80%;
  height: 200px;
  justify-content: center;
  border-bottom: 40px;
} */

.items {
  margin-left: 0px;
  text-align: center;
  width: 20%;
  
}
