:root {

  --primary: blanchedalmond;
  --light: #f39c12;
  --ticolor: #9b59b6;

}

body {
  background-color: var(--primary);
}
body {
  background-color: var(--primary);
}
h2 {

  color: var(--light);
  
}
.p-text {

  font-size: 30px;
  font-weight: 200;
}
h5 {
  color: var(--light);
}
.navbar-brand img {
  padding-right: 15px;
  width: 75px;
}
.navbar-nav {
  margin-left: auto;
  /* margin-right: 0 !important; */
}
.nav-link{
  font-size: 25px;
  color: var(--light) !important;
}

.jumbo {
    width: 90% !important;
    border: 10px !important;
  }

  p {
    border: 50px;
    /* padding: 20px;
    font-size: 1.2rem; */
    justify-content: center;
    color: var(--ticolor);
    font-weight: bolder
    ;
  }

  .row {
    width: 95%;
    border-bottom: 40px;
  }
  .skills {
    background-color: #f9f9f9;
    padding: 2rem;
    border: 20px;
  }
  
  .skills h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .skills ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .skills li {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 0.5rem;
    color: var(--ticolor);
  }
  
  .skills li:before {
    content: "•";
    margin-right: 0.5rem;
    color: #4285f4;
  }
  

.items {
  margin-left: 0px;
  text-align: center;
  width: 20%;
  
}
/* 
a:hover {
  color: red;
  text-decoration: underline;
} */

/* footer */

/* icons css */
footer {
  width: 100%;
  line-height: 1.5rem;
}

/* round icon */
footer i {
  border-radius: 5%;
  padding: 10px;
}

/* add hover effect to icons */
footer i:hover {
  cursor: pointer;
  color: var(--links);
  background-color: var(--blue-color);
  border-radius: 5%;
  box-shadow: 0px 0px 3px var(--ticolor);
}

/* copyright style */
footer p {
  font-size: 12px;
  text-align: center;
  color: grey;
}